.header-levaave {
  background-color: rgb(44,47,54);
  padding: 0px;
  border-bottom: 2px solid rgba(0,0,0,0.1)
}

.header-main-text {
  width: 100%;
  height: 100%; 
  color: white;
  font-size: 20px; 
  text-align: left; 
  margin-left: 30px;
}

.main-background {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0%;
  overflow: hidden auto;
  z-index: 1;
  background-color: rgb(44,47,54);
}

.main-div {
  position: relative;
  max-width: 420px;
  width: 100%;
  background: rgb(33, 36, 41);
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px, rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
  border-radius: 30px;
}

.swap-page-header-div {
  padding: 12px 1rem 0px 1.5rem;
  margin-bottom: -4px;
  width: 100%;
  max-width: 420px;
  color: rgb(195, 197, 203);
}
.swap-page-header {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.swap-page-header-text {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  color: rgb(255,255,255);
  display: block;
}

.swap-page-header-setting {
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  align-items: center;
  position: relative;
  border: none;
  text-align: left;
}

.setting-icon-button {
  position: relative;
  width: 100%;
  border: none;
  background-color: transparent;
  margin: 0px;
  height: 35px;
  padding: 0.15rem 0.5rem;
  border-radius: 0.5rem;
}

.setting-svg {
  margin-top: 2px;
}

.swap-page-body {
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
  display: block;
}

.swap-page-grid {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 12px;
}

.swap-page-collateral-loan-div {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  border-radius: 20px;
  background-color: rgb(44, 47, 54);
  z-index: 1;
  box-sizing: border-box;
}

.swap-page-input-div {
  border-radius: 20px;
  border: 1px solid rgb(44, 47, 54);
  background-color: rgb(33, 36, 41);
  box-sizing: border-box;
}

.swap-page-input-label-div {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.75rem 1rem 0px;
}

.swap-page-input-label-text-div {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.swap-page-input-label-text {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(195, 197, 203);
}

.swap-page-input-body {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
}

.swap-page-input-body-input {
  color: rgb(255, 255, 255);
  width: 0px;
  position: relative;
  font-weight: 500;
  outline: none;
  border: none;
  flex: 1 1 auto;
  background-color: rgb(33, 36, 41);
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
  appearance: textfield;
}

.swap-page-input-body-button {
  -webkit-box-align: center;
  align-items: center;
  height: 2.2rem;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(33, 36, 41);
  color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0px 0.5rem;
}

.swap-page-input-body-button-main-span {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.swap-page-input-body-button-img {
  width: 24px;
  height: 24px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 6px 10px;
  border-radius: 24px;
}

.swap-page-input-body-button-text {
  margin: 0px 0.25rem 0px 0.75rem;
  font-size: 20px;
}

.swap-page-input-body-button-text-svg {
  margin: 0px 0.25rem 0px 0.5rem;
  height: 35%;
}

.swap-page-arrow-main-div {
  display: grid;
  grid-auto-rows: auto;
}

.swap-page-arrow-div {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.swap-page-arrow {
  padding: 2px;
}

.slippage-tolerance-parent-div {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  padding: 0px;
  border-radius: 20px;
}

.slippage-tolerance-grid-div {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 8px;
  padding: 0px 16px;
}

.slippage-tolerance-div {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.slippage-tolerance-label{
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(195, 197, 203);
}

.slippage-tolerance-percentage {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 14px;
  color: rgb(195, 197, 203);
}

.levaave-button {
  padding: 18px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  outline: none;
  border: 1px solid transparent;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: rgba(21, 61, 111, 0.44);
  color: rgb(109, 168, 255);
  font-size: 16px;
  font-weight: 500;
}

.position-div {
  display: flex;
  justify-content: left;
}

.leverage-div {
  display: flex;
  justify-content: left;
  margin-right: 16px;
}

.leverage-label-div {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 14px;
  color: #c3c5cb;
}

.position-label-div {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 14px;
  color: #c3c5cb;
  margin-left: 16px;
}

.postion-leverage-div {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.position-box {
  display: table;
  font-size: 12px;
  border: 2px solid rgba(21, 61, 111, 0.44);
  color: rgb(109, 168, 255);
  margin-left: 10px;
  padding: 3px 3px;
  border-radius: 5px;
  &.active{
    background-color:  rgba(21, 61, 111, 0.44);
  }
}

.leverage-box {
  display: table;
  font-size: 12px;
  border: 2px solid rgba(21, 61, 111, 0.44);
  color: rgb(109, 168, 255);
  margin-left: 10px;
  padding: 3px 3px;
  border-radius: 8px;
  &.active{
    background-color:  rgba(21, 61, 111, 0.44);
  }
}

// .abc{
//   background: red;
//   min-width: 450px;
// }
// .abcd{
//   background: blue;
// }
// .kuch{
//   background: green;

// }